body
{
  color: white;
  background: #20ff8f;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#emotionName1 ,#emotionName2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading {
  letter-spacing: 10px;
  font-size: 32px;
}

label {
  background-color: white;
  color: green;
  padding: 5;
  border-radius: 10px;
}